body{
    background-image: url(./img/body-bg.jpg);
    width: 100%;
}
.user{
    box-shadow: 5px 5px 10px rgb(0 0 0/15%);
    margin: 5px ;
    border-radius: 10px;
}
.title{
    color: #87a243;
}
.keyword{
    color: red;
}
.btn{
    margin: 5px;
}
.comment_name{
    color: red;
}
.text{
    color: rgb(121, 94, 94);
}
